/* 默认就是亮色 */
:root {
  --bg-color: rgb(245, 245, 245);
  --text-color: rgb(0, 0, 0);
}

/* 暗黑模式 */
html[data-theme='dark'] {
  --bg-color: rgb(0, 0, 0);
  --text-color: rgb(245, 245, 245);
}

body {
  background: var(--bg-color);
  color: var(--text-color);
}
