/* 默认就是亮色 */
:root {
  --bg-color: #ffffff;
  --text-color: #1f1f1f;
  --border-color: #e5e6eb;
}

/* 暗黑模式 */
html[data-theme='dark'] {
  --bg-color: #141414;
  --text-color: #e8e8e8;
  --border-color: #303030;
}

body {
  background: var(--bg-color);
  color: var(--text-color);
}
